@using System.Text
@inherits BlazorState.BlazorStateComponent

<pre>@State.Signature</pre>
<div>
    Subcomponent 1 rerendered at:
    <pre>
       @RerenderLog
    </pre>
</div>

@code{
    private MyMonolithicState State => base.GetState<MyMonolithicState>();

    private StringBuilder RerenderLog { get; } = new();
    protected override bool ShouldRender()
    {
        bool result = base.ShouldRender();
        if (result) RerenderLog.AppendLine(DateTime.Now.TimeOfDay.ToString(@"hh\:mm\:ss\.f"));
        return result;
    }

}