@using System.Text
@inherits BlazorState.BlazorStateComponent

<div>
    <pre>
        @(string.Join(", ", State.Items))
    </pre>

    <div>
        Subcomponent 2 rerenders:
        <pre>
           @RerenderLog
        </pre>
    </div>
</div>

@code{
    private MyMonolithicState State => base.GetState<MyMonolithicState>();

    private StringBuilder RerenderLog { get; } = new();
    protected override bool ShouldRender()
    {
        bool result = base.ShouldRender();
        if (result) RerenderLog.AppendLine(DateTime.Now.TimeOfDay.ToString(@"hh\:mm\:ss\.f"));
        return result;
    }

}