@page "/"

<h3>Sz.BlazorRerenderReducers demo</h3>
<h6>
    see also
      <a href="https://github.com/szalapski/BlazorRerenderReducers">GitHub project page</a>
    | <a href="https://www.nuget.org/packages/Sz.BlazorRerenderReducers">NuGet package</a>
</h6>

<div class="border p-2 mt-4">
    <MainPanel InputFoo="Foo1" />
</div>

@if (UseRerenderControl)
{
    <div class="alert alert-success">Using DisplayHashRerender</div>
}
else
{
    <div class="alert alert-danger">Not using DisplayHashRerender</div>
}

<div class="mb-4">
    <label>

        <input type="checkbox" @bind="DisplayHashRerenderComponentBase.EnableRerenderReductionGlobal" />
        Use DisplayHashRerender
    </label>
</div>

<button class="btn btn-sm btn-outline-primary" @onclick="@(()=>{})">Do nothing</button>
<button class="btn btn-sm btn-outline-primary" @onclick="@(()=> Foo1.Bar += " *")">Add a star inside MainPanel</button>
<button class="btn btn-sm btn-outline-primary" @onclick="@(()=> Foo1.Qux += " *")">Add a star inside NestedPanel</button>

<div class="sidebar">
    To see whether or not components are re-rendering, open you browser console (usually F12).
</div>

@code {
    private Foo Foo1 { get; set; } = new Foo();
    private bool UseRerenderControl {
        get => DisplayHashRerenderComponentBase.EnableRerenderReductionGlobal;
        set => DisplayHashRerenderComponentBase.EnableRerenderReductionGlobal = value;
    }
}
