@using BlazorRerenderReducers

<div style="display:flex;">
    @foreach (int i in Enumerable.Range(0, 1000))
    {
        <div style="display: none;">@i</div>
    }
</div>

NestedPanel Qux=@InputFoo.Qux

<div style="display:flex;">
@foreach (int i in Enumerable.Range(0, 1000))
{
    <div style="display: none;">@i</div>
}
</div>

@code {
    [Parameter]
    public Foo InputFoo { get; set; } = null!;

    private ScopeTimer RenderTimer { get; } = new("QuxPanelWithDisplayHash");

    protected override void OnInitialized() => OnParametersSet();
    protected override void OnParametersSet()
    {
        RenderTimer.Init();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        RenderTimer.Dispose();
    }

}
