@using System.Threading
<td class="other-property-cell">@Item.Value</td>

@code {
    [Parameter, EditorRequired]
    public KeyValuePair<string, string> Item { get; set; }

    protected override void OnParametersSet()
    {
        Thread.Sleep(1);  // simulate a component that takes just 2 ms to rerender
    }
}