<button @onclick="Add">Add new to top</button>
<ul>
    <Virtualize Context="productViewModel" Items="Products">
        <ProductTile Product="productViewModel" @key="productViewModel.Code" />
    </Virtualize>
</ul>

@code {
    [Parameter]
    // [EditorRequired]
    public List<ProductViewModel> Products { get; set; } = null!;
    private void Add()
    {
        Products.Insert(0, new());
        StateHasChanged();
    }
}