<a class="product-share-link" href="example.com">Share</a>

@code {
    // write a console line on every render
    protected override void OnAfterRender(bool _) =>
        Console.WriteLine($"Rendered {GetType().Name}");

}