<div class="product-grid">
    <div>
        <label>
            <input type="checkbox" @bind="AvoidUnnecessaryRerenders" />
            Suppress unnecessary renders
        </label>
    </div>
    <div>
        <button @onclick="Add">Add new to top</button>
        <label>
            Product code filter
            <input @bind="FilterText" @bind:event="oninput" />
        </label>
    </div>
    <ul>
        @* @foreach (ProductViewModel productViewModel in FilteredProducts)
            {*@
        <Virtualize Context="productViewModel" Items="FilteredProducts" ItemSize="224">

            <ProductTile @key="productViewModel.Code"
             
                         Product="productViewModel"
                         AvoidUnnecessaryRerenders="@AvoidUnnecessaryRerenders" />
        </Virtualize>

    </ul>
</div>
@code {
    [Parameter, EditorRequired]
    public List<ProductViewModel> Products { get; set; } = null!;

    public List<ProductViewModel> FilteredProducts =>
        Products.Where(p => p.Code.Contains(FilterText)).ToList();

    private bool AvoidUnnecessaryRerenders { get; set; } = true;
    private string FilterText { get; set; } = "";

    private void Add() => Products.Insert(0, new());

}