<div>
    <label>
    <input type="checkbox" @bind="AvoidUnnecessaryRerenders" />
        Suppress unnecessary renders
    </label>
</div>
<div>
    <button @onclick="Add">Add new to top</button>
</div>
<ul>
    <Virtualize Context="productViewModel" Items="Products">
        <ProductTile Product="productViewModel" @key="productViewModel.Code" AvoidUnnecessaryRerenders="@AvoidUnnecessaryRerenders" />
    </Virtualize>
</ul>

@code {
    [Parameter, EditorRequired]
    public List<ProductViewModel> Products { get; set; } = null!;
    private void Add() => Products.Insert(0, new());
    private bool AvoidUnnecessaryRerenders { get; set; } = true;
}f